@model IEnumerable<CocktailViewModel>

@{
    ViewData["Title"] = "CocktailCatalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row gap-20 gap-lg-40">
    <div class="col-12 col-lg-12">
        <div class="content-wrapper">
            <div class="section-title border-bottom w-100">
                <div class="d-flex flex-column flex-sm-row align-items-lg-end">
                    <div>
                        <h2><span><span>Our</span> Cocktails</span></h2>
                    </div>
                </div>
            </div>
            <div class="row cols-1 cols-sm-2 cols-lg-4 gap-2 mb-20">
                @foreach (var cocktail in Model.OrderByDescending(c=>c.Rating))
                {
                    <div class="col">
                        <article class="post-grid-01">
                            <figure class="destination-grid-item-01">
                                <a asp-area="BarCrower" asp-controller="Cocktails" asp-action="Details" asp-route-Id="@cocktail.CocktailId" class="h6">
                                    <div class="image">
                                        <img src="@cocktail.Picture" alt="images" />
                                    </div>
                                    <div class="content">
                                        <div class="rating-item rating-inline">
                                            <div class="rating-icons">
                                                <input type="hidden" class="rating" data-filled="rating-icon ri-star rating-rated" data-empty="rating-icon ri-star-empty" data-fractions="2" data-readonly value="@cocktail.Rating" />
                                            </div>
                                            <p class="rating-text font600 text-muted font-12 letter-spacing-1"><span class="text-dark mr-3">@cocktail.Rating / 5</span></p>
                                        </div>
                                        <h4>@cocktail.Name</h4>
                                        Go to Cocktail <i class="elegent-icon-arrow_right"></i>
                                    </div>
                                </a>
                            </figure>
                        </article>
                    </div>
                }
            </div>
        </div>
    </div>
</div>