@model BarViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-12 col-md-11 col-lg-10 col-xl-9">
        <div class="content-wrapper">
            <div class="success-icon-text">
                <span class="icon-font  text-danger"><i class="elegent-icon-error-oct_alt"></i></span>
                <h4 class="text-uppercase letter-spacing-1">Warning!</h4>
                <p>Attention, you are about to perform delete operation!</p>
            </div>
            <div class="mb-50"></div>
            <div class="text-center">
                <h3 class="text-primary line-125 mv-10">Are you sure you want to delete bar with name: "@Model.Name"</h3>
                <p>After deletion there is no way to return the item!</p>
            </div>
            <div class="mb-50"></div>
            <div class="booking-box">
                <div class="box-heading"><h3 class="h6 text-white text-uppercase">@Model.Name</h3></div>
                <div class="box-content">
                    <figure class="tour-long-item-01">
                        <a href="#">
                            <div class="d-flex flex-column flex-sm-row align-items-xl-center">
                                <div>
                                    <div class="image">
                                        <img src="@Model.Picture" alt="images" />
                                    </div>
                                </div>
                                <div>
                                    <figcaption class="content">
                                        <h5>@Model.Name</h5>
                                        <ul class="item-meta">
                                            <li>
                                                <i class="elegent-icon-pin_alt text-warning"></i> @Model.Address
                                            </li>
                                            <li>
                                                <div class="rating-item rating-sm rating-inline clearfix">
                                                    <div class="rating-icons">
                                                        <input type="hidden" class="rating" data-filled="rating-icon ri-star rating-rated" data-empty="rating-icon ri-star-empty" data-fractions="2" data-readonly value="@Model.Rating" />
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <p>@Model.Information</p>
                                    </figcaption>
                                </div>
                            </div>
                        </a>
                    </figure>
                    <ul class="list-li-border-top mt-30">
                        <li class="clearfix">
                            <span class="font600">Bar ID:</span>
                            <span class="d-block float-sm-right">@Model.BarId</span>
                        </li>
                        <li class="clearfix">
                            <span class="font600">Name:</span>
                            <span class="d-block float-sm-right">@Model.Name</span>
                        </li>
                        <li>
                            <span class="font600">Rating:</span>
                            <span class="d-block float-sm-right">
                                <div class="rating-item rating-sm rating-inline clearfix">
                                    <div class="rating-icons">
                                        <input type="hidden" class="rating" data-filled="rating-icon ri-star rating-rated" data-empty="rating-icon ri-star-empty" data-fractions="2" data-readonly value="@Model.Rating" /> @Model.Rating / 5
                                    </div>
                                </div>
                            </span>
                        </li>
                        <li class="clearfix">
                            <span class="font600">Address:</span>
                            <span class="d-block float-sm-right">@Model.Address</span>
                        </li>
                        <li class="clearfix">
                            <span class="font600">Cocktails offered:</span>
                            <span class="d-block float-sm-right">@Model.Cocktails.Count()</span>
                        </li>
                    </ul>
                    <div class="mb-20"></div>
                    <h6>Cancellation policy</h6>
                    <p>Spot of come to ever hand as lady meet on. Delicate contempt received two yet advanced. Gentleman as belonging he commanded believing dejection in by. On no am winding chicken so behaved. Its preserved sex enjoyment new way behaviour. Him yet devonshire celebrated especially. Unfeeling one provision are smallness resembled repulsive.</p>
                </div>
                <div class="box-bottom bg-light">
                    <h6 class="font-sm">We are the best site for a night out in Sofia</h6>
                    <p class="font-sm">Our custom tour program, direct call <span class="text-primary">+66857887444</span>.</p>
                </div>
            </div>
            <div class="mb-50"></div>
            <div class="row gap-20 cols-1 cols-lg-3 justify-content-center">
                <div class="col">
                    <form asp-area="BarMagician" asp-controller="Bars" asp-action="Delete" method="post">
                        <input type="hidden" asp-for="BarId" />
                        <input type="submit" value="YES" class="btn btn-danger col-6 col-md-12 mr-1" />
                    </form>
                </div>
                <div class="col-2 col-md-4">
                    <a asp-area="BarCrower" asp-controller="Bars" asp-action="Details" asp-route-id="@Model.BarId" class="btn btn-success"> No </a>
                </div>
            </div>
            <div class="mb-50"></div>
        </div>
    </div>
</div>