@model BarViewModel

@{
    Layout = "_Layout";
}

<h1>Details</h1>


<section class="page-wrapper page-detail pt-0">
    <div class="slick-carousel-wrapper slick-hero-wrapper clearfix">
        <div class="slick-carousel-inner">
            <div class="slick-hero-alt-02">
                <div class="slick-item">
                    <div class="image"><img src="@Model.Picture" alt="Images" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-30">
        <div class="row gap-20 gap-lg-40">
            <div class="col-12 col-lg-8">
                <div class="content-wrapper">
                    <div id="detail-content-sticky-nav-01" class="detail-header mb-30">
                        <h3>@Model.Name</h3>

                        <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-20">
                            <div class="mr-15 font-lg">
                                <i class="elegent-icon-pin_alt text-warning"></i> @Model.Address
                            </div>
                            <div>
                                <div class="rating-item rating-inline">
                                    <div class="rating-icons">
                                        <input type="hidden" class="rating" data-filled="rating-icon ri-star rating-rated" data-empty="rating-icon ri-star-empty" data-fractions="2" data-readonly value="@Model.Rating" />
                                    </div>
                                    <p class="rating-text font600 text-muted font-12 letter-spacing-1"><span class="text-dark mr-3">@Model.Rating/5</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-30"></div>
                        <!-- Breaf bar information -->
                        <p>@Model.Information</p>
                        <h5 class="mt-30">Cocktails offered</h5>
                        <!-- Make a foreach loop to get all cocktails the bar offers start -->
                        <ul class="list-icon-data-attr font-ionicons">
                            @foreach (var cocktail in Model.BarCocktailViewModels)
                            {
                                <li data-content="&#xf383"> @Html.ActionLink(cocktail.CocktailName, "Details", "Cocktails", new { id = cocktail.CocktailId }, null) </li>
                            }
                        </ul>
                        <!-- Make a foreach loop to get all cocktails the bar offers end -->
                    </div>
                    <div class="mb-50"></div>
                    <div id="detail-content-sticky-nav-03" class="fullwidth-horizon-sticky-section">
                        <h4 class="heading-title">Map</h4>
                        <iframe src="@Model.Map" width="750" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                    <div class="mb-20"></div>
                    <div id="detail-content-sticky-nav-06" class="fullwidth-horizon-sticky-section">
                        @if (User.IsInRole("Administrator"))
                        {
                            <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-20 justify-content-center">
                                <div class="col-3 col-md-5">
                                    <a asp-area="BarMagician" asp-controller="Bars" asp-action="Delete" asp-route-id="@Model.BarId" class="btn btn-primary btn-wide"><i class="elegent-icon-error-oct_alt"></i>  Delete Bar <i class="elegent-icon-error-oct_alt"></i></a>
                                </div>
                                <div class="col-3 col-md-5">
                                    <a asp-area="BarMagician" asp-controller="Bars" asp-action="Edit" asp-route-id="@Model.BarId" method="get" class="btn btn-success btn-wide"> Edit Bar </a>
                                </div>
                            </div>
                        }
                        @if (User.IsInRole("Member") && !Model.IsRated)
                        {
                            <div class="row mt-25">
                                <div class="col-12 col-md-8 col-lg-9 offset-md-4 offset-lg-3">
                                    <div class="col-inner">
                                        <button id="show-hide-review" class="btn btn-primary btn-wide"> Review Bar</button>
                                    </div>
                                </div>
                            </div>
                            <div id="review-show" style="display: none;">
                                <partial name="_ReviewBarPartial" , model="new CreateReviewViewModel() { Id = @Model.BarId }" />
                            </div>
                        }
                        <div class="mb-50"></div>
                    </div>

                    <!-- List of Reviews start -->
                    <div id="detail-content-sticky-nav-07" class="fullwidth-horizon-sticky-section">
                        <h4 class="heading-title">Reviews</h4>
                        <ul class="review-list">
                            @foreach (var reviews in Model.ReviewViewModels)
                            {
                                <li>
                                    <div class="review-man d-flex">
                                        <div class="image mr-15">
                                            <img src="@reviews.UserPicture" alt="image" class="image-circle" />
                                        </div>
                                        <div class="line-125">
                                            <h6 class="line-125 mb-3">@reviews.UserName</h6>
                                            <div class="rating-item rating-sm">
                                                <div class="rating-icons">
                                                    <input type="hidden" class="rating" data-filled="rating-icon ri-star rating-rated" data-empty="rating-icon ri-star-empty" data-fractions="2" data-readonly value="@reviews.Grade" /> @reviews.Grade / 5
                                                </div>
                                            </div>
                                            <span class="text-muted font-sm font600">@reviews.CreatedOn.ToString("MMM dd, yyyy")</span>
                                        </div>
                                    </div>
                                    <div class="review-content">
                                        <p>
                                            @reviews.Comment
                                        </p>
                                    </div>
                                </li>
                            }

                            @*<li>
                                    <!-- Check if can make pagination work -->
                                    <nav>
                                        <ul class="pagination mb-0">
                                            <li>
                                                <a href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><span>...</span></li>
                                            <li><a href="#">11</a></li>
                                            <li><a href="#">12</a></li>
                                            <li><a href="#">13</a></li>
                                            <li>
                                                <a href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </li>*@
                        </ul>
                    </div>
                    <!-- List of Reviews end -->
                </div>
            </div>
        </div>
    </div>
</section>
